#header {
    background: url(./img/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.container {
    width: 100%;
}


.button {
    width: 220px;
    height: 44px;
    background: #FFC50E;
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #333333;
    border: 1px solid #FFC50E;
    cursor: pointer;
}

.button:hover {
    background: #FF9900;
    border: 1px solid #FF9900;

}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 20%;
    margin-top: 2%;

}

.phone-menu {
    display: flex;
    justify-content: space-between;
    width: 30%;

}

.phone {

    color: aliceblue;

}

.menu {

    color: aliceblue;
}



.middle-title {
    margin-top: 8%;
    margin-left: 30%;
    color: aliceblue;
    text-transform: uppercase;

}

.middle-text {
    margin-top: 5%;
    margin-left: 27%;
    color: aliceblue;
    text-transform: uppercase;
}

.middle-title span {
    color: #77B82A;

}


.middle-title h1 {
    position: absolute;
    width: 60%;
    left: calc(50% - 832px/2 - 169px);
    top: 263px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 70px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 15px;

}


.phone {
    font-size: 25px;
    margin-left: 50%;
    margin-top: -1%;

}

.button-block {
    width: 50%;
    margin-top: 10%;
    margin-left: 20%;
    justify-content: space-between;
}

.button-pdf {
    width: 220px;
    height: 44px;
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #333333;
    border: 1px solid #FFC50E;
    cursor: pointer;
    margin-left: 25px;
    box-sizing: border-box;
    color: #FFC50E;
    background: 0 0;


}

.button-pdf:hover {
    background: #FFC50E;
    border: 1px solid #FF9900;
    font-size: 14px;
    color: #333333;
}

.arrow {
    margin-left: -10%;
    margin-top: -2.5%;

}

.middle-text>h2 {
    margin-top: 25%;
    font-size: 15px;


}

.header__burger {
    background-color: transparent;
    border: none;
    width: 38px;
    height: 29px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 46px;

    flex-wrap: nowrap;
    align-content: normal;
    align-items: flex-end;
}

.header__line-big {
    width: 38px;
    height: 2px;
    background-color: #fff;
}

.header__line-small {
    width: 28px;
    height: 2px;
    background-color: #fff;
}

.phone-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20%;
}

.knowmore {
    background: url(./img/group1742.png);
    width: 195px;
    height: 102px;
    margin-left: 70%;
    margin-top: -7.5%;
    cursor: pointer;
    display: block;

}

.knowmore:hover {
    background: url(./img/group1743.png);


}

.dotted {
    margin-left: 20%;
}

.elementone {
    margin-left: 20%;
}

.elementone>P {
    color: #fff;
    margin-top: -30px;
    margin-left: 50px;
}

.elementtwo {
    color: #fff;
    margin-top: -50px;
    margin-left: 100px;
}

.elementtwo>P {
    color: #fff;
    margin-top: -30px;
    margin-left: 50px;
}